*{
	padding: 0px;
}
body{
	background-color: #99ff66;
}

button{
	background: yellow;
	border-radius: 10px;
	padding: 10px;
}
#canvas{
	background-color: #ffff66;
	border:3px solid red;
	top: 0px;
}